.conquest {
  padding-top: 180px;
}

.conquest__title {
  width: 1064px;
  flex-wrap: wrap;
  color: #182149;
  font-family: HeliosExt;
  font-size: 78px;
  line-height: 1.27;
  margin-bottom: 62px;
}

.conquest__span {
  color: #2898f5;
  align-content: center;
  font-family: HeliosExt;
  font-size: 78px;
  line-height: 1.27;
  border-radius: 50px;
  border: 2px solid #2898f5;
  padding: 0 35px 0 35px;
  cursor: pointer;
}

.conquest__info_list {
  display: flex;
  align-items: center;
}

.conquest__content {
  margin-right: 80px;
}

.conquest__content:last-child {
  margin-right: 0;
}

.conquest__content_item {
  color: #2898f5;
  font-family: HeliosExt;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 29px;
}

.conquest__active {
  color: #2898f5;
  font-family: HeliosExt;
  font-size: 40px;
  line-height: normal;
}

.scroll {
  max-width: 1159px;
  height: 3px;
  background-color: #2898f5;
  margin-bottom: 40px;
}

.conquest__buttons_list {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.conquest__button {
  display: flex;
  padding: 13px 18px;
  align-items: flex-start;
  color: #182149;
  font-family: HeliosExt;
  font-size: 20px;
  border-radius: 25.5px;
  border: 1px solid #182149;
  margin-right: 10px;
}

.conquest__button_active {
  border: 1px solid #182149;
  background-color: #182149;
  color: #fff;
}

.conquest__result_list {
  display: flex;
}

.conquest__result_content {
  width: 560px;
  border-radius: 60px;
  background: var(
    --0-db-7-ad-2-paints,
    radial-gradient(
      88.4% 88.4% at 93.99% 23.32%,
      #05c7d6 0%,
      rgba(5, 160, 172, 0) 100%
    ),
    #0db7ad
  );
  box-shadow: 0px 4px 200px 0px rgba(255, 255, 255, 0.4) inset;
  margin-right: 20px;
}

.conquest__item_box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.conquest__helper {
  color: #fff;
  font-family: HeliosExtC;
  font-size: 16px;
  line-height: 1;
}

.conquest__links_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  padding-left: 30px;
  margin-bottom: 74px;
}

.conquest__service_helper {
  border: none;
  border-radius: none;
  margin-bottom: 0;
  padding-bottom: 11px;
}

.conquest__svg {
  margin-right: 15px;
}

.conquest__open_link {
  color:  #FFF;
  font-family: HeliosExtC;
  font-size: 16px;
  display: inline-flex;
  padding: 9px 17px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 43px;
  border: 1px solid var(--ffffff, #FFF);
  width: 137px;
}

.conquest__link_svg {
  margin-left: 10px;
}

.conquest__result_bg_orange {
  border-radius: 60px;
  background: #E38567;
  box-shadow: 0px 4px 200px 0px rgba(255, 255, 255, 0.50) inset;
}

.conquest__result_bg_blue {
  border-radius: 60px;
  background: radial-gradient(88.40% 88.40% at 93.99% 23.32%, #6F42EF 0%, rgba(219, 20, 236, 0.00) 100%), #14A2F2;
  box-shadow: 0px 4px 200px 0px rgba(255, 255, 255, 0.50) inset;
}