.footer {
  padding-top: 425px;
  color: #FFF;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  font-family: 'HeliosExt';
  margin-bottom: 27px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.list__margin {
  margin-bottom: 24px;
}
.address__length {
  width: 298px;
}

.helper__margin {
  margin-bottom: 28px;
}

.phone__margin {
  margin-bottom: 12px;
}


.social__list {
  display: flex;
  gap: 18px;
  font-family: 'HeliosExt';
}

.social__link {
  width: 30px;
  height: 30px;
}

.line {
  margin-top: 60px;
  margin-bottom: 60px;
  opacity: 0.8;
  height: 1px;
  width: 100%;
  opacity: 0.1;
  background-color: #FFF;
}

.footer__copyright {
  padding-bottom: 55px;
}