.guest {
  padding-top: 180px;
}

.guest__container {
  position: relative;
}

.guest__list {
  position: relative;
  z-index: 5;
  width: 535px;
  padding: 40px;
  border: 2px solid greenyellow;
  border-radius: 50px;
  border-radius: 50px;
  border: 2px solid rgba(238, 247, 255, 0.12);
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(16.5px);
  left: 44px;
  top: 199px;
}

.guest__title {
  color: #FFF;
  font-family: HeliosExt;
  font-size: 78px;
  line-height: 1.27;
  margin-bottom: 50px;
}

.guest__text {
  width: 811px;
  color: #FFF;
  font-family: HeliosExt;
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 60px;
}

.guest__item {
  padding-bottom: 20px;
}

.guest__item:last-child {
  padding-bottom: 0;
}

.guest__item_phone {
  color: #FFF;
  font-family: HeliosExtC;
  font-size: 30px;
  line-height: 1.5; 
}

.guest__item_text {
  color: #FFF;
  font-family: HeliosExtC;
  font-size: 20px;
  line-height: 1.5;
}

.guest__item_social {
  display: flex;
}

.guest__social_link {
  margin-right: 20px;
}

.guest__social_link:last-child {
  margin-right: 0;
}

.map__decor_image {
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.map__decor_image_01 {
  width: 1720px;
  height: 545px;
  background-image: url('../assets/img/guest_map.png');
  border-radius: 44px;
  background: url('../assets/img/guest_map.png'), lightgray 50% / cover no-repeat, #28304A;
  mix-blend-mode: screen;
  top: 49%;
}

.map__decor_image_02 {
  width: 70px;
  height: 100.45px;
  background-image: url('../assets/icons/subtract.png');
  top: 86%;
  left: 64%;
}