.header {
  padding-top: 40px;
  padding-bottom: 115px;
  border-radius: 0px 0px;
  opacity: 0.9;
  background: #E3F1FE;
}

.header-menu__languages {
  display: none;
}

.current-lang {
  margin-right: 9px;
}

.header-menu__link {
  color: #2898F5;
  font-family: HeliosExtC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 17px;
  border-radius: 63px;
  border: 1px solid #2898F5;
  display: flex;
  width: 80px;
  padding: 17px 17px 14px 17px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-bottom: 18px;
}

.navigation__list {
  display: flex;
  gap: 50px;
}

.advertiser__btn {
  color: #2898F5;
  border-radius: 31px;
  border: 1px solid  #2898F5;
  padding: 15px 25px;
  margin-right: 25px;
}

.registration {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 18px;
}

.authorization {
  padding: 16px 42px;
  color: #FFF;
  font-family: HeliosExtC;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: #2898F5;
  border-radius: 63px;
}