.hero__title {
  max-width: 890px;
  font-family: 'HeliosExt';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 150px;
}

.hero__span {
  color: #2898F5;
  cursor: pointer;
}
.hero__contollers {
  display: flex;
}

.btn__controller {
  color: #FFFFFF;
  text-align: center;
  font-family: HeliosExtC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__svg {
  margin-left: 15px;
}

.hero__video {
  margin-right: 15px;
}

.entrance__controller {
  width: 330px;
  margin-right: 20px;
  background-color: #2898F5;
  padding: 37px 75px;
  border-radius: 73px;
  text-align: center;
}

.video__controller {
  
  width: 406px;
  color:#2898F5 ;
  border-radius: 73px;
  border: 2px solid #2898F5;
}