.inside {
  border-radius: 120px;
  background: radial-gradient(
      73.33% 22.16% at 29.45% 91.69%,
      #45d2ff 0%,
      rgba(69, 210, 255, 0) 100%
    ),
    radial-gradient(
      134.67% 69.88% at 9.66% 82.03%,
      #985df1 0%,
      rgba(171, 116, 255, 0) 100%
    ),
    radial-gradient(
      63.24% 60.56% at 82.86% 30.4%,
      #19d2fb 0%,
      rgba(25, 210, 251, 0) 100%
    ),
    #2898f5;
  box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 13px 0px rgba(255, 255, 255, 0.15) inset;
  padding-bottom: 763px;
}

.inside__container {
  position: relative;
}

.inside__box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inside__title {
  padding-top: 130px;
  text-align: center;
  color: #fff;
  font-family: HeliosExt;
  font-size: 78px;
  line-height: 1.27;
  margin-bottom: 20px;
}

.inside__text {
  position: relative;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: HeliosExt;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 80px;
}

.inside__left_arrow {
  position: absolute;
  top: 11px;
  left: 344px;
}

.inside__right_arrow {
  position: absolute;
  top: 264px;
  right: 433px;
}

.inside__skills_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 135px;
}

.inside__price_content {
  width: 485px;
  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  background: rgba(255, 255, 255, 0.10);
  padding: 64px 49px;
}

.inside__price_margin {
  margin-bottom: 98px;
}

.inside__price_item_title {
  color:  #FFF;
  text-align: center;
  font-family: HeliosExt;
  font-size: 24px;
  line-height: 1.27; 
  margin-bottom: 15px;
}

.inside__price_item_text {
  flex-wrap: wrap;
  color:  #FFF;
  text-align: center;
  font-family: HeliosExt;
  font-size: 18px;
  line-height: 1.27;
  opacity: 0.7;
  padding-left: 0;
}

.inside__index_box {
  display: flex;
  justify-content: center;
}

.inside__index_list {
  display: flex;
  gap: 100px;
}

.inside__width {
  width: 425px;
}

.inside__decoration_box {
  position: absolute;
  inset: 0;
}

.inside__decoration_image {
  position: absolute;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 129px;
  height: 129px;
}

.inside__decoration_img_01 {
  background-image: url('../assets/icons/inside_icon_01.png');
  top: 17%;
  left: 5%;
}

.inside__decoration_img_02 {
  background-image: url('../assets/icons/inside_icon_03.png');
  top: 33%;
  left: 5%;
}

.inside__decoration_img_03 {
  background-image: url('../assets/icons/inside_icon_02.png');
  top: 17%;
  right: 20%;
}

.inside__decoration_img_04 {
  background-image: url('../assets/icons/inside_icon_04.png');
  top: 33%;
  right: 20%;
}

.inside__decoration_img_05 {
  background-image: url('../assets/icons/inside_icon_05.png');
  top: 52%;
  left: 7%;
}

.inside__decoration_img_06 {
  background-image: url('../assets/icons/inside_icon_06.png');
  top: 52%;
  left: 37%;
  
}

.inside__decoration_img_07 {
  background-image: url('../assets/icons/inside_icon_07.png');
  top: 52%;
  left: 68%;
}