@media (max-width: 385px) {
  .container {
    max-width: 375px;
    padding: 0 15px;
  }

  .header {
    padding: 15px;
    padding-bottom: 40px;
  }

  .header__logo {
    width: 100px;
    height: 21px;
  }

  .navigation__list,
  .partners__box,
  .lang {
    display: none;
  }

  .authorization {
    color: #2898f5;
    text-align: center;
    font-family: HeliosExtC;
    font-size: 13px;
    line-height: 100%;
    border-radius: 0px 0px 50px 50px;
    background: #e3f1fe;
    border-radius: 93px;
    border: 1px solid var(--2898-f-5, #2898f5);
    width: 112px;
    padding: 15px 34px;
    margin-right: 8px;
  }

  .burger {
    display: block;
    width: 43px;
    height: 43px;
  }

  .hero {
    border-radius: 0px 0px 50px 50px;
    background: #e3f1fe;
  }

  .hero__title {
    font-size: 23px;
    line-height: 1.27;
    width: 345px;
    flex-wrap: wrap;
    padding-bottom: 105px;
  }

  .hero__controllers {
    padding-top: 45px;
    flex-direction: column;
  }

  .hero__deco__image_01 {
    width: 339px;
    height: 184px;
    background-image: url("../assets/img/hero_img_mobile.png");
    bottom: 249px;
    left: -11px;
  }

  .hero__deco__image_02 {
    width: 377px;
    height: 307px;
    background-image: url("../assets/img/vector_img_mobile.png");
    top: 72px;
  }

  .hero__deco__image_03 {
    width: 127px;
    height: 76px;
    transform: rotate(6.021deg);
    left: 37px;
    top: 106px;
    z-index: 25;
  }

  .hero__deco__image_04 {
    display: none;
  }

  .hero__controllers {
    padding-bottom: 50px;
  }

  .btn__controller {
    width: inherit;
    height: 61px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.14px;
  }

  .entrance__controller {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 22px 25px;
  }

  .hero__video {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .hero__svg {
    width: 9px;
    height: 9px;
  }

  .video__controller {
    width: inherit;
  }

  .partners {
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .partners__content {
    margin-right: 10px;
  }

  .partners__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .partners__item {
    width: 115px;
    height: 64px;
    border-radius: 15px;
  }

  .partners__item_01,
  .partners__item_02,
  .partners__item_07,
  .partners__item_08 {
    display: none;
  }

  .partners__item_03 {
    position: absolute;
    top: 50px;
    left: -60px;
  }

  .partners__item_04 {
    position: absolute;
    top: 50px;
    left: 66px;
  }

  .partners__item_05 {
    position: absolute;
    top: 50px;
    left: 191px;
  }

  .partners__item_06 {
    position: absolute;
    top: 50px;
    right: -83px;
  }

  .about {
    border-radius: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
  }

  .about__title,
  .about__button {
    font-size: 24px;
  }

  .about__button {
    margin-bottom: 25px;
  }

  .about__item {
    width: 290px;
    height: 362px;
    border-radius: 25px;
  }

  .about__item_title {
    padding-top: 35px;
    font-size: 20px;
    line-height: 1.1;
    padding-left: 15px;
  }

  .about__item_text {
    font-size: 14px;
    line-height: 1.3;
    padding-left: 15px;
    margin-bottom: 70px;
  }

  .slider__button {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }

  .about__item_img {
    width: 245px;
    height: 159px;
    padding-bottom: 30px;
  }

  .mobile__title_helper {
    padding-top: 25px;
  }
  .about__mobile_helper {
    width: 247px;
    height: 159px;
  }

  .text__item {
    margin-bottom: 56px;
  }

  .slider__box {
    margin-bottom: 0;
  }

  .advantages {
    margin-bottom: 50px;
  }

  .advantages__title,
  .advantages__span {
    font-size: 24px;
    line-height: 1.27;
  }

  .advantages__title {
    margin-bottom: 25px;
  }

  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  .advantages__item {
    border-radius: 25px;
    padding: 25px 74px 81px 20px;
  }

  .advantages__item_title {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  .advantages__item_text {
    font-size: 14px;
    line-height: 1.3;
  }

  .advantages__item_helper {
    width: 345px;
    height: 128px;
  }

  .easy {
    padding-bottom: 50px;
  }

  .easy__title {
    font-size: 24px;
    line-height: 1.27;
    margin-bottom: 15px;
  }

  .easy__service_title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .easy__helper {
    display: flex;
    flex-direction: column;
  }

  .service__list_content {
    width: inherit;
  }

  .service__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .service__item_number {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .service__item_text {
    width: 300px;
    font-size: 15px;
    padding-bottom: 25px;
  }

  .service__mark {
    padding-top: 1px;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .full__service_box {
    width: inherit;
    border-radius: 25px;
    padding: 25px 20px;
  }

  .full__service_title {
    width: 285px;
    flex-wrap: wrap;
    font-size: 20px;
  }

  .full__service_text {
    width: 305px;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .full__service_compilation {
    padding: 17px 15px;
    margin-bottom: 20px;
  }

  .compilation__title {
    font-size: 14px;
  }

  .title__box {
    margin-bottom: 13px;
  }

  .compilation__svg {
    width: 22px;
    height: 22px;
  }

  .compilation__line {
    width: inherit;
    margin-bottom: 10px;
  }

  .compilation__link {
    width: 305px;
    padding: 22px 25px;
    margin-bottom: 25px;
  }

  .example__item {
    font-size: 9px;
  }

  .example__value {
    font-size: 9px;
  }

  .compilation__content {
    margin-bottom: 15px;
  }

  .compilation__mobile_helper {
    display: none;
  }

  .leads {
    padding-bottom: 50px;
  }

  .leads__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .leads__box {
    flex-direction: column;
  }

  .leads__agency {
    width: inherit;
    border-radius: 25px;
    padding: 25px 20px;
    margin-right: 0;
    margin-bottom: 26px;
  }

  .leads__agency__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .leads__agency_text {
    font-size: 14px;
    width: 305px;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .leads__agency_subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .leads__number {
    width: 30px;
    height: 30px;
    font-size: 10px;
    margin-right: 10px;
  }

  .leads__text {
    font-size: 14px;
  }

  .leads__agency_list {
    margin-bottom: 20px;
  }

  .leads__agency_link {
    width: inherit;
    padding: 22px 25px;
  }

  .start {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .start__title,
  .start__span {
    font-size: 24px;
    margin-bottom: 27px;
  }

  .start__box {
    flex-direction: column;
  }

  .start__own,
  .start__help {
    width: inherit;
    padding: 25px 20px;
    border-radius: 25px;
    margin-bottom: 15px;
  }

  .start__own_title,
  .start__help_title {
    font-size: 24px;
  }
  .start__own_text,
  .start__help_text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .start__own_span {
    font-size: 14px;
  }
  .start__own_padding {
    padding-top: 25px;
  }
  .start__own_item {
    display: flex;
    align-items: center;
  }
  .start__own_link {
    text-align: center;
    display: block;
    width: inherit;
    padding: 25px 5px 25px 25px;
    font-size: 14px;
  }

  .start__help_title {
    margin-bottom: 20px;
  }

  .steps__help_subtitle {
    color: #182149;
    font-family: HeliosExt;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .start__text_mobile {
    font-size: 14px;
  }

  .start__help_padding {
    padding-top: 20px;
  }

  .start__help_link {
    display: block;
    width: inherit;
    padding: 25px 20px;
    text-align: center;
  }

  .comments {
    margin-bottom: 50px;
  }

  .comments__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .comments__icons_list {
    display: grid;
    grid-template-columns: repeat(2, 290px);
    gap: 10px;
  }

  .comments__content {
    border-radius: 25px;
    padding: 25px 20px;
  }

  .item__box_helper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .comments__author_icon {
    width: 26px;
    height: 26px;
  }

  .comments__value {
    font-size: 12px;
  }

  .mobile__comments_helper {
    display: none;
  }

  .comments__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }

  .comments__icons_list {
    margin-bottom: 25px;
  }

  .comments__link {
    font-size: 14px;
  }

  .comments_date {
    font-size: 12px;
  }

  .comments__link_news {
    display: none;
  }

  .comments_buttons {
    margin-left: auto;
  }
  .comments_slider_button {
    width: 0;
    height: 0;
  }

  .slider__button_img {
    width: 60px;
    height: 60px;
  }

  .reviews__title_box {
    flex-direction: column;
  }

  .reviews__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .reviews__text {
    font-size: 14px;
  }

  .reviews__action_svg {
    width: 35px;
    height: 35px;
  }

  .reviews__info_icon {
    display: none;
  }

  .reviews__action {
    margin-bottom: 15px;
  }

  .reviews__item {
    width: 290px;
    padding: 25px 20px;
    border-radius: 25px;
  }

  .reviews__item_text {
    width: 250px;
    padding-top: 20px;
    margin-bottom: 25px;
  }

  .reviews__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 25px;
  }

  .reviews__mobile_helper {
    display: none;
  }

  .comments__slider_button {
    width: 60px;
    height: 60px;
  }

  .reviews_buttons {
    margin-bottom: 50px;
  }
  .mobile__helper_text {
    padding-top: 48px;
  }

  .quest {
    position: relative;
    border-radius: 30px 30px 0 0;
  }
  .quest__title {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 54px;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .quest__form_input {
    width: 345px;
    margin-bottom: 10px;
  }

  .quest__form__buttons {
    flex-direction: column;
  }

  .input__placeholder {
    font-size: 14px;
  }

  .input__placeholder_span {
    font-size: 12px;
  }

  .input__placeholder_svg {
    width: 20px;
    height: 20px;
  }

  .quest__inputs_box {
    margin-bottom: 20px;
  }

  .quest__form_button {
    width: 345px;
    padding: 22px 25px;
    margin-bottom: 20px;
  }

  .quest__form_text {
    text-align: center;
  }

  .quest__image {
    position: absolute;
    top: 377px;
    left: 23px;
  }
  .guest {
    padding-top: 50px;
  }

  .guest__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .guest__text {
    width: 345px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
  }

  .guest__list {
    width: inherit;
    text-align: center;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  .guest__item_phone {
    font-size: 20px;
  }

  .guest__item_address,
  .guest__item_mail {
    font-size: 14px;
  }

  .guest__item {
    padding-bottom: 15px;
  }

  .map__decor_image_01 {
    width: 345px;
    height: 356px;
    top: 72%;
  }

  .map__decor_image_02 {
    width: 35px;
    height: 50px;
    left: 60%;
    top: 105%;
  }

  .footer {
    position: relative;
    padding-top: 199px;
  }

  .footer__copyright {
    padding-bottom: 15px;
  }

  .copyright__list {
    flex-direction: column-reverse;
  }

  .copyright__item {
    margin-bottom: 10px;
  }

  .footer__logo {
    position: absolute;
    width: 100px;
    height: 48px;
    top: 20%;
  }

  .footer__item {
    margin-right: 56px;
  }

  .footer__link {
    font-size: 14px;
  }

  .copyright__link {
    font-size: 12px;
  }

  .copyright__link_span {
    font-size: 12px;
    opacity: 0.5;
  }

  .mobile__link_helper {
    padding-top: 20px;
  }

  .line {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social__list {
    position: absolute;
    right: 0;
    top: 73%;
    gap: 10px;
  }

  .social__item {
    width: 18px;
    height: 18px;
  }

  .conquest__title,
  .conquest__span {
    max-width: 290px;
    flex-wrap: wrap;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .conquest__content_item {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .conquest__active {
    font-size: 20px;
  }

  .scroll {
    margin-bottom: 20px;
  }

  .conquest__content {
    margin-right: 15px;
  }

  .conquest__buttons_list {
    margin-bottom: 20px;
  }

  .conquest__button {
    width: 173px;
    font-size: 12px;
    padding: 13px 18px;
    margin-right: 5px;
  }

  .conquest__mobile_helper {
    width: 145px;
  }

  .conquest__result_box {
    width: 345px;
  }

  .conquest__result_content {
    border-radius: 25px;
  }

  .comments__title {
    font-size: 16px;
  }

  .example__item,
  .example__value {
    font-size: 10px;
  }

  .full__service_compilation {
    margin-bottom: 0;
  }

  .conquest__helper {
    font-size: 10px;
  }

  .conquest__links_list {
    margin-bottom: 25px;
  }

  .conquest__open_link {
    font-size: 14px;
  }

  .inside {
    position: relative;
    border-radius: 30px;
  }

  .inside__image {
    position: absolute;
    width: 286px;
    top: 8%;
    left: 31px;
  }

  .inside__skills_box {
    padding-top: 250px;
  }

  .inside__title {
    padding-top: 25px;
    font-size: 24px;
  }

  .inside__text {
    width: 340px;
    flex-wrap: wrap;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }

  .inside__price {
    display: flex;
    flex-direction: column;
  }
  .inside__price_content {
    width: inherit;
  }

  .inside__index_list {
    display: flex;
    flex-direction: column;
  }

  .inside__price_content {
    border-radius: 25px;
    padding: 25px 20px;
  }

  .inside__price_item_title {
    text-align: start;
    font-size: 20px;
  }

  .inside__price_item_text {
    text-align: start;
    font-size: 14px;
  }

  .inside__price_margin {
    margin-bottom: 25px;
  }

  .inside__decoration_image {
    width: 54px;
    height: 54px;
  }

  .inside__decoration_img_01 {
    left: 75%;
    top: 18%;
  }

  .inside__decoration_img_02 {
    top: 25%;
    left: 75%;
  }

  .reports__title,
  .reports__span {
    font-size: 24px;
  }

  .reports__title {
    margin-bottom: 25px;
  }

  .reports__analytics_title {
    width: 270px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .reports__analytics_text {
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left;
  }

  .reports__decor__image_01 {
    width: 50px;
    height: 50px;
    top: 231%;
    left: 1%;
  }

  .reports__decor__image_02 {
    width: 258px;
    height: 370px;
    transform: rotate(15deg);
    top: 193%;
  }

  .reports__decor__image_03 {
    width: 309px;
    height: 277px;
    top: 100%;
    left: 0%;
  }

  .reports__decor__image_04 {
    width: 58px;
    height: 81px;
    transform: rotate(-105deg);
    top: 74%;
    right: -2%;
  }

  .reports__decor__image_05 {
    width: 60px;
    height: 60px;
    transform: rotate(15deg);
    top: 43%;
    right: 0%;
  }

  .reports__analytics_mobile {
    font-size: 12px;
    flex-wrap: wrap;
  }
  .inside__skills_box {
    flex-direction: column;
  }
  .inside__theme_list {
    flex-direction: column;
  }
}
