.quest {
  border-radius: 120px 120px 0 0;
  background: radial-gradient(
      26.83% 28.75% at 25.94% 92.16%,
      #45d2ff 0%,
      rgba(69, 210, 255, 0) 100%
    ),
    radial-gradient(
      134.67% 69.88% at 9.66% 82.03%,
      #985df1 0%,
      rgba(171, 116, 255, 0) 100%
    ),
    radial-gradient(
      63.24% 60.56% at 82.86% 30.4%,
      rgba(25, 210, 251, 0.5) 0%,
      rgba(25, 210, 251, 0) 100%
    ),
    #2898f5;
  box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 13px 0px rgba(255, 255, 255, 0.15) inset;
}

.quest__box_helper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.quest__title {
  padding-top: 130px;
  width: 720px;
  color: #fff;
  font-family: HeliosExt;
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  margin-bottom: 60px;
}

.quest__form__buttons {
  display: flex;
}

.quest__image {
  position: absolute;
  top: -133px;
  right: 50px;
}

.quest__form_button {
  width: 307px;
  color: #2898f5;
  font-family: HeliosExtC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  padding: 25px 51px;
  border-radius: 76px;
  background-color: #fff;
  margin-right: 20px;
}

.quest__inputs_box {
  margin-bottom: 50px;
}

.quest__form_input {
  max-width: 507px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 35px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    rgba(255, 255, 255, 0.1);
}

.quest__form_input:last-child {
  margin-bottom: 0;
}

.quest__form_text {
  padding-top: 5px;
  align-items: center;
  width: 337px;
  color: rgba(255, 255, 255, 0.6);
  font-family: HeliosExtC;
  font-size: 12px;
  line-height: 160%; /* 19.2px */
}

.quest__form_span {
  color: #fff;
  font-family: HeliosExtC;
  font-size: 12px;
  line-height: 1.6;
  cursor: pointer;
  text-decoration-line: underline;
}
.quest__form_input::placeholder {
  color: #fff;
}

.input__placeholder_svg {
  margin-left: 15px;
}

.input__placeholder_span {
  color: rgba(255, 255, 255, 0.4);
  font-family: HeliosExtC;
  font-size: 18px;
  line-height: 1.5;
  margin-left: 5px;
}
