.reviews__title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__title {
  font-family: HeliosExt;
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  margin-bottom: 60px;
}

.reviews__text_helper {
  margin-left: 15px;
}

.reviews__text {

  width: 309px;
  color:  #2898F5;
  font-family: HeliosExt;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.reviews__span {
  text-transform: uppercase;
}

.reviews__action {
  display: flex;
  cursor: pointer;
}

.reviews__item {
  border: 1px solid #2898F5;
  border-radius: 50px;
  padding: 40px;
}

.reviews__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.reviews__item_text {
  width: 480px;
  margin-top: 40px;
  margin-bottom: 74px;
}

.witcher {
  margin-top: 47px;
}

.reviews_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.reviews_buttons_box {
  display: flex;
}