.reviews__title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__title {
  font-family: HeliosExt;
  font-size: 78px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27;
  margin-bottom: 60px;
}

.reviews__text_helper {
  margin-left: 15px;
}

.reviews__text {

  width: 309px;
  color:  #2898F5;
  font-family: HeliosExt;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.reviews__span {
  text-transform: uppercase;
}

.reviews__action {
  display: flex;
  cursor: pointer;
}

.reviews__item {
  border: 1px solid #2898F5;
  border-radius: 50px;
  padding: 40px;
  z-index: 1;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(3, 560px);
  gap: 20px;
  margin-bottom: 40px;
}

.reviews__overlay {
  border-radius: 50px;
  border: 1px solid #2898F5;
  /* background: #2898F5; */
  /* box-shadow: 0px 0px 203px 0px rgba(255, 255, 255, 0.60) inset; */
  /* opacity: 0.15; */
}

.reviews__item_text {
  padding-top: 40px;
  width: 480px;
  flex-wrap: wrap;
  margin-bottom: 74px;
  color: #182149;
}

.reviews_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.reviews_buttons_box {
  display: flex;
}

.disabled {
  opacity: 0.15;
}

.reviews__text_helper {
  display: flex;
  align-items: center;
}

.reviews__info_icon {
  position: relative;
  top: 24%;
  right: 13%;
  width: 20px;
  height: 20px;
}

.opacity__helper {
  display: block;
  opacity: 3;
}

.witcher {
  padding-top: 53px;
}

.bottom__flex {
  padding-bottom: 30px;
}